<div>


  <!-- END: Topbar -->
</div>
<div class="container marketing" style="margin-top:100px;">
  <div class="row">
    <div>
      <button class="btn btn-success btn-lg" id="addCourseButton" data-bs-toggle="modal" data-bs-target="#addCourseModal"
      style="position: fixed;right:0;bottom:0;  margin: 25px 50px 75px 100px;">Add Course</button>
    </div>
  </div>




  <div id="course-list" class="row">
  </div><!-- /.row -->
</div>
</main>
<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/jQuerySPApp.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/course-service.js"></script>
<script src="js/user-service.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>




<!-- EDIT MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input id="id" type="hidden" />
        <input id="name" type="text" placeholder="Name"/>
        <input id="description" type="text" placeholder="Description"/>
        <input id="professor_id" type="text" placeholder="ProfessorID"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-course-button" onclick="CourseService.update()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- ADD MODAL -->
<div class="modal fade" id="addCourseModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="addCourseForm">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">Add Course</h5>
          <button type="button" class"btn-close" data-bs-dismiss="modal" ; aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Name</label>
            <input name="name" type="text" class="form-control required" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label>Description</label>
            <input name="description" type="text" class="form-control required" placeholder="Enter description">
          </div>
          <div class="form-group">
            <label>ProfessorID</label>
            <input name="professor_id" type="text" class="form-control required" placeholder="Enter professor_id">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" >Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Professor MODAL -->
<div class="modal fade" id="professorModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Professor Info</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img id="professorImage" src="" style="width: 250px;height: auto;"></img>
        <p id='fullname'></p>
        <p id='email'></p>
        <p id='phone'></p>
        <p id='dateofbirth'></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-course-button" onclick="">Go to professors</button>
      </div>
    </div>
  </div>
</div>

<script>
  
  var token = localStorage.getItem("token");
  if (token) {
    CourseService.init();
  } else {
    window.location.replace("login.html");
  }

</script>
