<div>


  <!-- END: Topbar -->
</div>
<div class="container marketing" style="margin-top:100px;">
  <div class="row">
    <div>
      <button class="btn btn-success btn-lg" id="addCourseButton" data-bs-toggle="modal" data-bs-target="#addCourseModal"
      style="position: fixed;right:0;bottom:0;  margin: 25px 50px 75px 100px;">Add Course</button>
    </div>
  </div>




  <div id="course-list" class="row">
  </div><!-- /.row -->
</div>
</main>
<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/jQuerySPApp.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/course-service.js"></script>
<script src="js/user-service.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>




<!-- EDIT MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg"> <!-- Added 'modal-lg' for a larger modal -->
    <div class="modal-content">
      <div class="modal-header "> <!-- Changed header background color to 'bg-primary' and text color to 'text-light' -->
        <h5 class="modal-title" id="exampleModalLabel">Edit Course</h5>
        <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <input id="id" type="hidden" />
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input id="name" type="text" class="form-control" placeholder="Name" />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input id="description" type="text" class="form-control" placeholder="Description" />
          </div>
          <div class="mb-3">
            <label for="professor_id" class="form-label">Professor ID</label>
            <input id="professor_id" type="text" class="form-control" placeholder="Professor ID" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="CourseService.update()">Save Changes</button>
      </div>
    </div>
  </div>
</div>


<!-- ADD MODAL -->
<div class="modal fade" id="addCourseModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="addCourseForm">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel" >Add Course</h5>
          <button type="button" class ="btn-close" data-bs-dismiss="modal" ; aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Name</label>
            <input name="name" type="text" class="form-control required" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label>Description</label>
            <input name="description" type="text" class="form-control required" placeholder="Enter description">
          </div>
          <div class="form-group">
            <label>ProfessorID</label>
            <input name="professor_id" type="text" class="form-control required" placeholder="Enter professor_id">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" >Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Professor MODAL -->
<div class="modal fade" id="professorModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Professor Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="text-center mb-3">
          <img id="professorImage" src="" style="width: 150px; height: auto; border-radius: 50%;" alt="Professor Image">
        </div>
        <div class="mb-3">
          <strong>Full Name:</strong>
          <p id="fullname" class="mb-0"></p>
        </div>
        <div class="mb-3">
          <strong>Email:</strong>
          <p id="email" class="mb-0"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Grades MODAL -->
<div class="modal fade" id="gradesModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Grades</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Subject</th>
              <th>Percentage</th>
              <th>Grade</th>
            </tr>
          </thead>
          <tbody id="gradesTableBody">
            <!-- Dynamic content will be added here using JavaScript -->
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  
  var token = localStorage.getItem("token");
  if (token) {
    CourseService.init();
  } else {
    window.location.replace("login.html");
  }

</script>


