<div>


  <!-- END: Topbar -->
</div>
<div class="container marketing" style="margin-top:100px;">

  <div class="row">
    <div>
      <button class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#addStudentModal" id="addStudentButton"  
      style="position: fixed; right: 0; bottom: 0; margin: 25px 40px 75px 100px;">Add Student</button>
      <button class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#assignGradeModal" id="addGradeButton"
      style="position: fixed; right: 0; bottom: 5rem; margin: 25px 40px 75px 100px;">Assign Single Grade</button>
      <button class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#assignCourseGradeModal" id="addCourseGradeButton"
      style="position: fixed; right: 0; bottom: 10rem; margin: 25px 30px 75px 100px;">Assign Course Grades</button>
    </div>
  </div>
  
  

  <select id="courseFilterStudents" class="form-control" style="margin-bottom: 25px; width: 250px;">
    <option value="all">All Classes</option>
    <option value="class1">Class 1</option>
    <option value="class2">Class 2</option>
  </select>

  <div id="student-list" class="row">
  </div><!-- /.row -->
</div>
<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/jQuerySPApp.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/student-service.js"></script>
<script src="js/user-service.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>




<!-- EDIT MODAL -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg"> <!-- Added 'modal-lg' for a larger modal -->
    <div class="modal-content">
      <div class="modal-header "> <!-- Changed header background color to 'bg-primary' and text color to 'text-light' -->
        <h5 class="modal-title" id="updateModalLabel">Edit Student</h5>
        <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <input id="id" type="hidden" />
          <div class="mb-3">
            <label for="fullname" class="form-label">Full Name</label>
            <input id="fullname" type="text" class="form-control" />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" type="text" class="form-control" />
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input id="phone" type="text" class="form-control" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="StudentService.update()">Save Changes</button>
      </div>
    </div>
  </div>
</div>


<!-- ADD student MODAL -->

<body>
  <div class="modal fade" id="addStudentModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="addStudentForm">
          <div class="modal-header">
            <h5 class="modal-title" id="addModalLabel" data-bs-dismiss="modal">Add Student</h5>
            <button type="button" class"btn-close" data-bs-dismiss="modal" ; aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Full Name</label>
              <input name="fullname" type="text" class="form-control required" placeholder="Enter full name">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input name="email" type="text" class="form-control required" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label>Phone</label>
              <input name="phone" type="text" class="form-control required" placeholder="Enter phone number">
            </div>
            <div class="form-group">
              <label>Gender</label>
              <select name="gender">
	                <option value="male">Male</option>
	                 <option value="female">Female</option>
                   </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>


<!-- Professor MODAL -->
<div class="modal fade" id="professorModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id='professorInfo'></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-student-button" onclick="">Go to professors</button>
      </div>
    </div>
  </div>
</div>
<!-- student courses MODAL -->
<div class="modal fade " id="studentCoursesModal" tabindex="-1" aria-hidden="true" ;>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="studentCoursesLabel">Student courses</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="forCourses">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Assign grade modal -->
<div class="modal fade" id="assignGradeModal" tabindex="-1" aria-labelledby="assignGradeModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assignGradeModalLabel">Assign Grade To Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="grade_modal_course_id">Select course:</label>
        <select id="grade_modal_course_id" class="form-control" ></select>
          <label for="student_id">Select student for the grade:</label>
        <select id="student_id" class="form-control" ></select>
        <label for="grade_title">Grade title:</label>
        <input id="grade_title" type="text" class="form-control" />
        <label for="percentage_total_amount">Total grade percentage:</label>
        <input id="percentage_total_amount" type="number" class="form-control" />
        <label for="percentage_acquired">Grade percentage acquired:</label>
        <input id="percentage_acquired" type="number" class="form-control" />

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-professor-button" data-bs-dismiss="modal" onclick="StudentService.assignSingleGrade()">Assign Grade</button>
      </div>
    </div>
  </div>
</div>

<!-- Add group grade modal -->
<div class="modal fade" id="assignCourseGradeModal" tabindex="-1" aria-labelledby="assignCourseGradeModalLabel" aria-hidden="true" >
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assignCourseGradeModalLabel">Add Course Grades</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="gradeTitle" class="form-label" id="course_grade_modal_course_name">Course:</label>
          <input type="text" class="form-control" id="courseName" placeholder="Course" disabled>
        </div>
        
        <div class="mb-3">
          <label for="gradeTitle" class="form-label">Grade Title:</label>
          <input type="text" class="form-control" id="gradeTitle" placeholder="Enter Grade Title">
        </div>
        <div class="mb-3">
          <label for="percentageWeight" class="form-label">Percentage Weight:</label>
          <input type="number" class="form-control" id="percentageWeight" placeholder="Enter Percentage Weight">
        </div>

        <table class="table" >
          <thead>
            <tr>
              <th>Student ID</th>
              <th>Student Name</th>
              <th>Grade Percentage</th>
            </tr>
          </thead>
          <tbody id ="course_grade_modal_table">
            <tr>
              <td>1</td>
              <td>John Doe</td>
              <td><input type="number" class="form-control" placeholder="Enter Grade"></td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jane Smith</td>
              <td><input type="number" class="form-control" placeholder="Enter Grade"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="StudentService.assignMultipleGrades()">Assign Grades</button>
      </div>
    </div>
  </div>
</div>


<script>

  var token = localStorage.getItem("token");
  if (token) {
    StudentService.init();
  } else {
    window.location.replace("login.html");
  }


  $(document).ready(function() {
  // Attach an event handler to the select element's change event
  $('#grade_modal_course_id').change(function() {
    StudentService.fillStudentOptions();
  });
  
  $('#courseFilterStudents').change(function() {
    // Convert the select element into a jQuery object
    var $courseFilterStudents = $(this);

    StudentService.list();
    $('#courseName').val($courseFilterStudents.find('option:selected').text());

    if ($courseFilterStudents.val() == "all") {
        $('#grade_modal_course_id').prop('disabled', false);
        $('#addCourseGradeButton').prop('disabled', true);
    } else {
        $('#grade_modal_course_id').val($courseFilterStudents.val());
        $('#grade_modal_course_id').prop('disabled', true);
        $('#addCourseGradeButton').prop('disabled', false);
        $('#course_grade_modal_table tbody').empty();

        if(localStorage.getItem("professor_id")!=0)
        {
        StudentService.populateCourseGradeTable();
        StudentService.fillStudentOptions();
        }
    }
});

});
</script>
