<div class="allcontainer">
	<div class="table-container">
		<div id="timetable">
		<table border="5" cellspacing="0" align="center">
		<tr>
			<td align="center" height="50" width="100">
			<br><b></b></br>
			</td>
			<td align="center" height="50" width="100" class="timetable-cell" data-time="9">
			<b>9:00<br><sub>9:00 - 9:45</sub></b>
			</td>
			<td align="center" height="50" width="100" class="timetable-cell" data-time="10">
			<b>10:00<br><sub>10:00 - 10:45</sub></b>
			</td>
			<td align="center" height="50" width="100" class="timetable-cell" data-time="11">
			<b>11:00<br><sub>11:00 - 11:45</sub></b>
			</td>
			<td align="center" height="50" width="100" class="timetable-cell" data-time="12">
			<b>12:00<br><sub>12:00 - 12:45</sub></b>
			</td>
			<td align="center" height="50" width="100" class="timetable-cell" data-time="13">
			<b>13:00<br><sub>13:00 - 13:45</sub></b>
			</td>
			<td align="center" height="50" width="100" class="timetable-cell" data-time="14">
			<b>14:00<br><sub>14:00 - 14:45</sub></b>
			</td>
			<td align="center" height="50" width="100" class="timetable-cell" data-time="15">
			<b>15:00<br><sub>15:00 - 15:45</sub></b>
			</td>
			<td align="center" height="50" width="100" class="timetable-cell" data-time="16">
			<b>16:00<br><sub>16:00 - 16:45</sub></b>
			</td>
			<td align="center" height="50" width="100" class="timetable-cell" data-time="17">
			<b>17:00<br><sub>17:00 - 17:45</sub></b>
			</td>
			<td align="center" height="50" width="100" class="timetable-cell" data-time="18">
			<b>18:00<br><sub>18:00 - 18:45</sub></b>
			</td>
			<td align="center" height="50" width="100" class="timetable-cell" data-time="19">
			<b>19:00<br><sub>19:00 - 19:45</sub></b>
			</td>
		</tr>
		<tr>
			<td align="center" height="50" class="timetable-day-cell">
			<b>Mo</b>
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="9">
			<!-- Subject info for Monday 9:00 - 9:45 -->
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="10">
			<!-- Subject info for Monday 10:00 - 10:45 -->
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="11">
			<!-- Subject info for Monday 11:00 - 11:45 -->
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="12">
			<!-- Subject info for Monday 12:00 - 12:45 -->
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="13">
			<!-- Subject info for Monday 13:00 - 13:45 -->
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="14">
			<!-- Subject info for Monday 14:00 - 14:45 -->
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="15">
			<!-- Subject info for Monday 15:00 - 15:45 -->
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="16">
			<!-- Subject info for Monday 16:00 - 16:45 -->
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="17">
			<!-- Subject info for Monday 17:00 - 17:45 -->
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="18">
			<!-- Subject info for Monday 18:00 - 18:45 -->
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="19">
			<!-- Subject info for Monday 19:00 - 19:45 -->
			</td>
		</tr>
		<tr>
			<td align="center" height="50" class="timetable-day-cell">
			<b>Tu</b>
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="9">
			<!-- Subject info for Tuesday 9:00 - 9:45 -->
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="10">
			<!-- Subject info for Tuesday 10:00 - 10:45 -->
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="11">
			<!-- Subject info for Tuesday 11:00 - 11:45 -->
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="12">
			<!-- Subject info for Tuesday 12:00 - 12:45 -->
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="13">
			<!-- Subject info for Tuesday 13:00 - 13:45 -->
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="14">
			<!-- Subject info for Tuesday 14:00 - 14:45 -->
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="15">
			<!-- Subject info for Tuesday 15:00 - 15:45 -->
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="16">
			<!-- Subject info for Tuesday 16:00 - 16:45 -->
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="17">
			<!-- Subject info for Tuesday 17:00 - 17:45 -->
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="18">
			<!-- Subject info for Tuesday 18:00 - 18:45 -->
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="19">
			<!-- Subject info for Tuesday 19:00 - 19:45 -->
			</td>
		</tr>
		<tr>
			<td align="center" height="50" class="timetable-day-cell">
			<b>We</b>
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="9">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="10">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="11">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="12">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="13">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="14">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="15">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="16">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="17">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="18">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="19">
			</td>
		</tr>
		<tr>
			<td align="center" height="50" class="timetable-day-cell">
			<b>Thu</b>
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="9">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="10">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="11">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="12">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="13">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="14">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="15">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="16">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="17">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="18">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="19">
			</td>
		</tr>

		<tr>
			<td align="center" height="50" class="timetable-day-cell">
			<b>Fri</b>
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="9">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="10">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="11">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="12">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="13">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="14">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="15">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="16">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="17">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="18">
			</td>
			<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="19">
			</td>
		</tr>
		<!-- Rows for other days -->
		<!-- ... -->
		</table>
  		</div>
    </div>


	<div class="checkbox-container">
		<div class="form-check form-check-lg">
		  <input class="form-check-input" type="checkbox" value="" id="classesCheckbox" checked>
		  <label class="form-check-label checkbox-label" for="classesCheckbox">
			Lectures
		  </label>
		</div>
		
		<div class="form-check form-check-lg">
		  <input class="form-check-input" type="checkbox" value="" id="labsCheckbox" checked>
		  <label class="form-check-label checkbox-label" for="labsCheckbox">
			Labs   
			<span class="invisible">asd</span>
		  </label>
		</div>
	  </div>
	  

</div>

<style>
    .timetable-cell {
        font-size: 18px;
		border-right: none;

    }

	/* Add a border for the rightmost cell in the merged slots to separate them from other cells */
	.timetable-cell:last-child {
	border-right: 1px solid black;
	}

    .timetable-day-cell {
        font-size: 30px;
        height: 100px;
    }

    .timetable-day-cell span {
        font-size: 24px;
    }

    .timetable-day-cell sub {
        font-size: 12px;
    }

	.timetable-header-cell,
    .timetable-day-cell,
    .timetable-cell {
        border: 1px solid black;
        padding: 5px;
    }
	.timetable-cell-hidden {
	display: none;
	}
	.allcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Vertically center the items */
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-left: 30px; /* Add left margin to move the checkboxes to the right */
}

.checkbox-label {
	font-size: 20px; 
  margin-bottom: 18px;
}

.table-container {
  /* Add any necessary styles for the timetable table container */
  float: left;
}
</style>

<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/jQuerySPApp.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/classes-service.js"></script>
<script src="js/user-service.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>




<script>

  var token = localStorage.getItem("token");
  if (token) {
    ClassesService.init();
  } else {
    window.location.replace("login.html");
  }

// Function to call the list function based on the checkbox states
function updateListBasedOnCheckboxes() {
  const classesChecked = $('#classesCheckbox').prop('checked');
  const labsChecked = $('#labsCheckbox').prop('checked');

  if (classesChecked && labsChecked) {
    // Both checkboxes are checked, show all classes
    ClassesService.list("all");
  } else if (classesChecked) {
	clearTimetable();
    ClassesService.list("class");
  } else if (labsChecked) {
	clearTimetable();
    ClassesService.list("lab");
  } else {
	clearTimetable();
}
}
function clearTimetable() {
	$('#timetable').html(`<table border="5" cellspacing="0" align="center">
	  <tr>
		<td align="center" height="50" width="100">
		  <br><b></b></br>
		</td>
		<td align="center" height="50" width="100" class="timetable-cell" data-time="9">
		  <b>9:00<br><sub>9:00 - 9:45</sub></b>
		</td>
		<td align="center" height="50" width="100" class="timetable-cell" data-time="10">
		  <b>10:00<br><sub>10:00 - 10:45</sub></b>
		</td>
		<td align="center" height="50" width="100" class="timetable-cell" data-time="11">
		  <b>11:00<br><sub>11:00 - 11:45</sub></b>
		</td>
		<td align="center" height="50" width="100" class="timetable-cell" data-time="12">
		  <b>12:00<br><sub>12:00 - 12:45</sub></b>
		</td>
		<td align="center" height="50" width="100" class="timetable-cell" data-time="13">
		  <b>13:00<br><sub>13:00 - 13:45</sub></b>
		</td>
		<td align="center" height="50" width="100" class="timetable-cell" data-time="14">
		  <b>14:00<br><sub>14:00 - 14:45</sub></b>
		</td>
		<td align="center" height="50" width="100" class="timetable-cell" data-time="15">
		  <b>15:00<br><sub>15:00 - 15:45</sub></b>
		</td>
		<td align="center" height="50" width="100" class="timetable-cell" data-time="16">
		  <b>16:00<br><sub>16:00 - 16:45</sub></b>
		</td>
		<td align="center" height="50" width="100" class="timetable-cell" data-time="17">
		  <b>17:00<br><sub>17:00 - 17:45</sub></b>
		</td>
		<td align="center" height="50" width="100" class="timetable-cell" data-time="18">
		  <b>18:00<br><sub>18:00 - 18:45</sub></b>
		</td>
		<td align="center" height="50" width="100" class="timetable-cell" data-time="19">
		  <b>19:00<br><sub>19:00 - 19:45</sub></b>
		</td>
	  </tr>
	  <tr>
		<td align="center" height="50" class="timetable-day-cell">
		  <b>Mo</b>
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="9">
		  <!-- Subject info for Monday 9:00 - 9:45 -->
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="10">
		  <!-- Subject info for Monday 10:00 - 10:45 -->
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="11">
		  <!-- Subject info for Monday 11:00 - 11:45 -->
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="12">
		  <!-- Subject info for Monday 12:00 - 12:45 -->
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="13">
		  <!-- Subject info for Monday 13:00 - 13:45 -->
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="14">
		  <!-- Subject info for Monday 14:00 - 14:45 -->
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="15">
		  <!-- Subject info for Monday 15:00 - 15:45 -->
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="16">
		  <!-- Subject info for Monday 16:00 - 16:45 -->
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="17">
		  <!-- Subject info for Monday 17:00 - 17:45 -->
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="18">
		  <!-- Subject info for Monday 18:00 - 18:45 -->
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Monday" data-time="19">
		  <!-- Subject info for Monday 19:00 - 19:45 -->
		</td>
	  </tr>
	  <tr>
		<td align="center" height="50" class="timetable-day-cell">
		  <b>Tu</b>
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="9">
		  <!-- Subject info for Tuesday 9:00 - 9:45 -->
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="10">
		  <!-- Subject info for Tuesday 10:00 - 10:45 -->
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="11">
		  <!-- Subject info for Tuesday 11:00 - 11:45 -->
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="12">
		  <!-- Subject info for Tuesday 12:00 - 12:45 -->
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="13">
		  <!-- Subject info for Tuesday 13:00 - 13:45 -->
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="14">
		  <!-- Subject info for Tuesday 14:00 - 14:45 -->
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="15">
		  <!-- Subject info for Tuesday 15:00 - 15:45 -->
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="16">
		  <!-- Subject info for Tuesday 16:00 - 16:45 -->
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="17">
		  <!-- Subject info for Tuesday 17:00 - 17:45 -->
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="18">
		  <!-- Subject info for Tuesday 18:00 - 18:45 -->
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Tuesday" data-time="19">
		  <!-- Subject info for Tuesday 19:00 - 19:45 -->
		</td>
	  </tr>
	  <tr>
		<td align="center" height="50" class="timetable-day-cell">
		  <b>We</b>
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="9">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="10">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="11">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="12">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="13">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="14">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="15">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="16">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="17">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="18">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Wednesday" data-time="19">
		</td>
	  </tr>
	  <tr>
		<td align="center" height="50" class="timetable-day-cell">
		  <b>Thu</b>
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="9">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="10">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="11">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="12">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="13">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="14">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="15">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="16">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="17">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="18">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Thursday" data-time="19">
		</td>
	  </tr>

	  <tr>
		<td align="center" height="50" class="timetable-day-cell">
		  <b>Fri</b>
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="9">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="10">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="11">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="12">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="13">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="14">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="15">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="16">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="17">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="18">
		</td>
		<td align="center" height="50" class="timetable-cell" data-day="Friday" data-time="19">
		</td>
	  </tr>
	  <!-- Rows for other days -->
	  <!-- ... -->
	</table>`);
  }

// Event listener for checkbox change
$('#classesCheckbox, #labsCheckbox').on('change', function() {
  updateListBasedOnCheckboxes();
});

</script>
